/* Grupo 3  */

universidad {text-align:center;background-color:blue;}
a{background-color:#b3004a;color:#ffe604;font-size:25px;display:block;text-align: left;}
 
grupodetrabajo {background-color:red;color:white; font-size: 1cm;display:block;} 
facultad {background-color:black;color:orange; font-size: 1cm;display:block;}
nombref {color:orange; font-size: 1cm;display:block;}
codigof {color:orange; font-size: 1cm;display:block;}
carrera {background-color:green;color:yellow;font-size:1cm; display:block;}
materia {background-color:orange;color:blue; font-size: 1cm; display: block;}
grupo {background-color: purple;color:aqua; font-size: 1cm; display: block;}
grupo_num[tipo]::before {content:attr(tipo) "-" attr(aula);color:cyan;font-weight:bold;font-size:1cm;display: inline;};
formacion {color:aqua; font-size: 1cm;display:block;}
profesor {color:aqua; font-size: 1cm;display:block;}
grupo_num {color:aqua; font-size: 1cm;display:block;}
tema {color:aqua; font-size: 1cm;display:block;}
integrantes {color:aqua; font-size: 1cm;display:block; white-space: pre-line}
integrante[coordinador]::before {content:attr(coordinador) " es coordinador";color:cyan;font-weight:bold;font-size:1cm;display: block;};
     