/* estilos1a.css   Grupo03  */
    
fichero {
    background-color:#daa2b4;
    display:block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    line-height: 1.5;
    color: #141414;
    text-align: center;}
  
       ficha {background-color:rgba(247, 188, 237, 0.438); color:rgb(22, 1, 22);display:block;padding: 20px;} 
       nombre {color:#252440; display:inline;font-size:35px;} 
       apellido {color:rgb(107, 13, 49);font-size:35px;}
       DUI {font-size:30px;}
       direccion {background: color #c999af;font-size:20px;display:block;}
       telefono {background-color:#ffacd3;font-size:20px;display:block;}
       estudio {background-color:#fdcae1;font-size:20px;display:block;}
       grupofamiliar {background-color:#ffe5f0;font-size:20px;display:block;}
       website{font-size:30px;display:block;}